<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/plain_layout}">
>
<th:block layout:fragment="content">
    <div class="container">
        <header class="header" style="height:42px !important;">
            <div>
                POS
            </div>
            <!--        <div class="settings">-->
            <!--            <button onclick="printReceipt('receipt')">영수증 출력여부</button>-->
            <!--            <button onclick="printReceipt('order')">고객주문서 출력여부</button>-->
            <!--            <button onclick="printReceipt('kitchen')">주방주문서 출력여부</button>-->
            <!--            <button onclick="toggleMenuPrint()">영수증에 메뉴출력여부</button>-->
            <!--        </div>-->
        </header>

        <main class="main-content">
            <section class="order-summary scrollable">
                <h2 class="user-select-none">注文</h2>
                <div class="order-list" id="order-list" style="overflow-x: hidden">
                    <!-- Order items will go here -->
                </div>
            </section>

            <section class="menu scrollable">
                <h2 class="user-select-none">カテゴリー</h2>
                <div class="menu-categories">
                    <div th:each="category : ${categories}">
                        <button class="btn btn-outline-primary w-100 mb-2 user-select-none selbtn"
                                th:onclick="|getMenu(${category.id})|"
                                th:text="${category.name}"></button>
                    </div>
                </div>
            </section>

            <section class="sales-menu scrollable">
                <h2 class="user-select-none">メニュー</h2>
                <div class="sales-items" id="sales-items">
                    <!-- Sales items will go here -->
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="d-flex" style="width: 628px">
                <div style="width: 328px">
                    <div class="payment-amount" id="payment-amount" style="height: 44px;">
                        合計 : 0 ₩
                    </div>
                    <div class="payment-amount mt-2" id="payment-method" style="height: 44px;">
                        お支払方法:
                    </div>
                </div>
                <div class="numeric-keypad" style="width: 300px;">
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            th:each="number : ${#numbers.sequence(1,9)}" th:onclick="|appendNumber('${number}')|"
                            th:text="${number}"></button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="clearNumber()">削除
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="appendNumber('0')">0
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="deleteNumber()">←
                    </button>

                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="selectPaymentMethod('card')">
                        カード
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="selectPaymentMethod('cash')">
                        現金
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none" onclick="payment()">
                        会計
                    </button>
                </div>
            </div>
            <section class="menu" style="width: 314px;">
                <a class="btn btn-primary w-100 mb-2 user-select-none" href="/pos">POS</a>
                <a class="btn btn-outline-primary w-100 mb-2 user-select-none" href="/pos/orderList">注文リスト</a>
                <a class="btn btn-outline-primary w-100 mb-2 user-select-none" href="/pos/staff">出欠管理</a>
                <button class="btn btn-outline-primary w-100 mb-2 user-select-none selbtn"
                        th:onclick="|makeCoupon()|"
                        th:text="'クーポン発行'"></button>
            </section>
            <section class="sales-menu" style="width: 314px;">
            </section>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="quantityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title user-select-none" id="quantityModalLabel">数量調整</h5>
                    <button type="button" class="btn-close user-select-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="modal-quantity-input" class="form-control mb-2 text-center fs-4" readonly>
                    <div class="numeric-keypad">
                        <button type="button" class="btn btn-light border border-1 user-select-none"
                                th:each="number : ${#numbers.sequence(1, 9)}"
                                th:onclick="|appendNumberModal(${number})|"
                                th:text="${number}"></button>
                        <button type="button" class="btn btn-light border border-1 user-select-none"
                                onclick="clearNumberModal()">削除
                        </button>
                        <button type="button" class="btn btn-light border border-1 user-select-none"
                                onclick="appendNumberModal(0)">0
                        </button>
                        <button type="button" class="btn btn-light border border-1 user-select-none"
                                onclick="deleteNumberModal()">←
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary user-select-none" data-bs-dismiss="modal">閉じる
                    </button>
                    <button type="button" class="btn btn-primary user-select-none" onclick="saveQuantity()">調整
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 결제 확인 모달 -->
    <div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title user-select-none" id="confirmPaymentModalLabel">確認</h5>
                    <button type="button" class="btn-close user-select-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body user-select-none">
                    本当に決済しますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary user-select-none" data-bs-dismiss="modal">
                        キャンセル
                    </button>
                    <button type="button" class="btn btn-primary user-select-none" onclick="processPayment()">確認
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let orderList = [];
        let paymentMethod = '';
        let totalAmount = 0;
        let currentIndex = -1;
        let maxStock = 0;

        function getMenu(category) {
            const buttons = document.querySelectorAll('.selbtn');
            buttons.forEach(button => {
                button.classList.remove('btn-primary');
                button.classList.add('btn-outline-primary');
            });
            const clickedButton = event.currentTarget;
            clickedButton.classList.remove('btn-outline-primary');
            clickedButton.classList.add('btn-primary');
            // AJAX 요청을 통해 서버로 데이터 전송
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/pos/getMenu?category=" + category, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    menu = JSON.parse(xhr.responseText);
                    let salesItemsDiv = document.getElementById('sales-items');
                    salesItemsDiv.innerHTML = '';
                    menu.forEach(function (menuItem) {
                        let price = menuItem.price.toLocaleString();
                        if (menuItem.stock > 0) {
                            let itemButton = document.createElement('button');
                            itemButton.className = 'btn btn-outline-primary w-100 mb-2 user-select-none';
                            itemButton.textContent = menuItem.name + ' - ' + price + ' ₩';
                            itemButton.setAttribute('onclick', `addItem('${menuItem.name}', ${menuItem.price}, ${menuItem.id}, ${menuItem.stock})`);
                            salesItemsDiv.appendChild(itemButton);
                        } else {
                            let itemButton = document.createElement('button');
                            itemButton.className = 'btn btn-outline-primary w-100 mb-2 user-select-none';
                            itemButton.textContent = menuItem.name + ' - 売切り';
                            itemButton.setAttribute('disabled', true);
                            salesItemsDiv.appendChild(itemButton);
                        }
                    });
                }
            };
            xhr.send();
        }

        function addItem(item, price, itemId, stock) {
            // 이미 존재하는 항목인지 확인
            const existingItem = orderList.find(order => order.itemId === itemId);
            if (existingItem) {
                if (stock >= existingItem.quantity + 1)
                    existingItem.quantity += 1; // 존재하는 항목이면 개수 증가
                else
                    existingItem.quantity = stock;
            } else {
                orderList.push({item, price, itemId: itemId, quantity: 1, stock: stock}); // 새로운 항목 추가
            }
            updateOrderList();
            updateTotalAmount();
        }

        function deleteItem(index) {
            orderList.splice(index, 1);
            updateOrderList();
            updateTotalAmount();
        }

        function clearNumber() {
            for (let i = orderList.length; i >= 0; i--) {
                deleteItem(i);
            }
        }

        function updateOrderList() {
            const orderListDiv = document.getElementById('order-list');
            orderListDiv.innerHTML = '';
            orderList.forEach((order, index) => {
                const orderItem = document.createElement('div');
                orderItem.className = 'row mb-2 user-select-none';

                const itemName = document.createElement('div');
                itemName.className = 'col-2 user-select-none';
                itemName.textContent = order.item;

                const itemPrice = document.createElement('div');
                itemPrice.className = 'col-2 user-select-none text-end';
                itemPrice.textContent = `${order.price.toLocaleString()} ₩`;

                const itemQuantity = document.createElement('div');
                itemQuantity.className = 'col-2 user-select-none text-end';
                itemQuantity.textContent = order.quantity + ' 個';

                const itemTotal = document.createElement('div');
                itemTotal.className = 'col-3 user-select-none text-end';
                itemTotal.textContent = `${(order.price * order.quantity).toLocaleString()} ₩`;

                const buttonGroup = document.createElement('div');
                buttonGroup.className = 'col-3 user-select-none d-flex justify-content-end';

                const quantityButton = document.createElement('button');
                quantityButton.className = 'btn btn-secondary btn-sm me-2 user-select-none';
                quantityButton.textContent = '個数';
                quantityButton.setAttribute('onclick', `showQuantityModal(${index}, ${order.stock})`);

                const deleteButton = document.createElement('button');
                deleteButton.className = 'btn btn-danger btn-sm user-select-none';
                deleteButton.textContent = '削除';
                deleteButton.setAttribute('onclick', `deleteItem(${index})`);

                buttonGroup.appendChild(quantityButton);
                buttonGroup.appendChild(deleteButton);

                orderItem.appendChild(itemName);
                orderItem.appendChild(itemPrice);
                orderItem.appendChild(itemQuantity);
                orderItem.appendChild(itemTotal);
                orderItem.appendChild(buttonGroup);

                orderListDiv.appendChild(orderItem);
            });
        }

        let modalJustOpen = false;

        function showQuantityModal(index, stock) {
            currentIndex = index;
            maxStock = stock;
            document.getElementById('modal-quantity-input').value = orderList[index].quantity;
            let quantityModal = new bootstrap.Modal(document.getElementById('quantityModal'));
            quantityModal.show();
            modalJustOpen = true;
        }

        function saveQuantity() {
            const newQuantity = document.getElementById('modal-quantity-input').value;
            if (newQuantity !== null && !isNaN(newQuantity) && newQuantity > 0) {
                orderList[currentIndex].quantity = parseInt(newQuantity, 10);
                updateOrderList();
                updateTotalAmount();
            } else {
                deleteItem(currentIndex);
            }
            let quantityModal = bootstrap.Modal.getInstance(document.getElementById('quantityModal'));
            quantityModal.hide();
        }

        function appendNumberModal(number) {
            const quantityInput = document.getElementById('modal-quantity-input');
            if (modalJustOpen) {
                quantityInput.value = number;
                modalJustOpen = false;
            } else {
                const newQuantity = parseInt(quantityInput.value + number, 10);
                if (newQuantity <= maxStock) {
                    quantityInput.value = newQuantity;
                } else {
                    quantityInput.value = maxStock;
                }
            }
        }

        function clearNumberModal() {
            document.getElementById('modal-quantity-input').value = '0';
        }

        function deleteNumberModal() {
            const quantityInput = document.getElementById('modal-quantity-input');
            quantityInput.value = quantityInput.value.slice(0, -1) || '0';
        }

        function updateTotalAmount() {
            const totalAmount = orderList.reduce((total, order) => total + order.price * order.quantity, 0);
            document.getElementById('payment-amount').textContent = `合計 : ${totalAmount.toLocaleString()} ₩`;
        }

        function selectPaymentMethod(method) {
            paymentMethod = method;
            document.getElementById('payment-method').textContent = `お支払方法: ${method === 'card' ? 'カード' : '現金'}`;
        }

        function appendNumber(number) {
            // This function can be extended to handle number pad input
            console.log(`Number entered: ${number}`);
        }

        function payment() {
            showPaymentConfirmation();
        }

        function showPaymentConfirmation() {
            let confirmPaymentModal = new bootstrap.Modal(document.getElementById('confirmPaymentModal'));
            confirmPaymentModal.show();
        }

        function processPayment() {
            let confirmPaymentModal = bootstrap.Modal.getInstance(document.getElementById('confirmPaymentModal'));
            confirmPaymentModal.hide();
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/pos/order", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

            const orderData = orderList.map(order => ({
                id: order.itemId,
                quantity: order.quantity,
            }));

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        showToast('注文が成功しました。', 'success');
                        // POS 내용을 초기화
                        orderList = [];
                        updateOrderList();
                        updateTotalAmount();
                    } else {
                        showToast('通信エラーが発生しました。', 'error');
                    }
                }
            };
            xhr.send(JSON.stringify(orderData));
        }

        function showToast(message, type) {
            const toast = document.createElement('div');
            toast.className = `toast align-items-center text-white bg-${type} border-0`;
            toast.setAttribute('role', 'alert');
            toast.setAttribute('aria-live', 'assertive');
            toast.setAttribute('aria-atomic', 'true');

            const toastBody = document.createElement('div');
            toastBody.className = 'd-flex';
            toastBody.innerHTML = `
        <div class="toast-body">${message}</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    `;

            toast.appendChild(toastBody);
            document.body.appendChild(toast);

            const toastElement = new bootstrap.Toast(toast);
            toastElement.show();

            setTimeout(() => {
                toastElement.hide();
                toast.remove();
            }, 3000);
        }

        function makeCoupon() {
            if (confirm("쿠폰을 발급하시겠습니까?")) {
                let xhr = new XMLHttpRequest();

                xhr.open("POST", "/pos/makeCoupon", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let couponCode = xhr.responseText;

                        alert("쿠폰이 발급되었습니다: " + couponCode);

                        location.href = "/pos";
                    }
                };

                xhr.send();
            } else {
                alert("쿠폰 발급이 취소되었습니다.");
            }
        }
    </script>

    <style>
        .numeric-keypad {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        body {
            background-color: #f0f0f0;
        }

        .scrollable {
            max-height: 530px;
            overflow-y: auto;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #004080;
            color: white;
            padding: 10px;
        }

        .main-content {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 10px;
            padding: 10px;
            height: 480px;
        }

        .order-summary,
        .menu,
        .sales-menu {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 5rem);
        }

        .modal-dialog-centered::before {
            display: block;
            height: calc(100vh - 5rem);
            content: "";
        }

        .order-summary h2,
        .menu h2,
        .sales-menu h2 {
            margin-bottom: 10px;
            color: #004080;
        }

        .footer {
            display: flex;
            gap: 10px;
            padding: 10px;
        }

        .footer div {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</th:block>
</html>
