<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/plain_layout}">
<th:block layout:fragment="content">
    <div class="container">
        <header class="header" style="height:42px !important;">
            <div>
                POS
            </div>
        </header>

        <main class="main-content">
            <section class="order-summary scrollable" style="overflow-y: scroll;">
                <h2 class="user-select-none" id="systemTitle">出欠システム</h2>
                <div class="order-list" id="order-list" style="overflow-x: hidden">
                    <div class="d-flex">
                        <div id="currentDate" class="date-display me-2"></div>
                        <div id="currentTime" class="date-display"></div>
                        <div id="targetDate" class="date-display"></div>
                    </div>
                    <div class="mt-2 d-flex">
                        <div id="timetable" class="w-100">

                        </div>
                    </div>
                    <div id="btn-group" class="button-group mt-3 align-items-center d-flex"
                         style="display: none !important;">
                        <div class="input-group w-50">
                            <label for="password" class="input-group-text">認証番号</label>
                            <input id="password" class="form-control rounded-0 rounded-end-0" readonly>
                        </div>
                        <div id="clockInForm" class="w-25">
                            <button type="submit" class="btn btn-primary rounded-0 w-100" th:onclick="timeIn()">出勤
                            </button>
                        </div>
                        <div id="clockOutForm" class="w-25">
                            <button type="submit" class="btn btn-secondary rounded-0 rounded-end w-100"
                                    th:onclick="timeOut()">退社
                            </button>
                        </div>
                    </div>
                </div>
                <h2 id="passCheck" class="mt-2 text-danger"></h2>
            </section>

            <section class="menu scrollable">
                <h2 class="user-select-none">スタッフ</h2>
                <div class="menu-categories">
                    <div th:each="staff : ${staffList}">
                        <button class="btn btn-outline-primary w-100 mb-2 user-select-none selbtn"
                                th:text="${staff.name}" th:attr="data-date=${staff}, data-name=${staff.name}"
                                th:onclick="|handleStaffClick(${staff.id}, this)|"></button>
                    </div>
                    <button class="btn btn-outline-success w-100 mb-2 user-select-none fw-bold" onclick="addStaff()">スタッフ登録</button>
                </div>
            </section>

            <section class="sales-menu scrollable">
                <h2 class="user-select-none" id="manageTitle">管理</h2>
                <div class="sales-items" id="sales-items">

                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="order-summary d-flex bottomDiv">
                <div style="width: 328px">
                    <div class="payment-amount" id="payment-amount" style="height: 44px;">
                        合計 : 0 ₩
                    </div>
                    <div class="payment-amount mt-2" id="payment-method" style="height: 44px;">
                        お支払方法:
                    </div>
                </div>
                <div class="numeric-keypad" style="width: 300px;">
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            th:each="number : ${#numbers.sequence(1,9)}" th:onclick="|appendNumber('${number}')|"
                            th:text="${number}"></button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="clearNumber()">削除
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="appendNumber('0')">0
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="deleteNumber()">←
                    </button>

                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="selectPaymentMethod('card')">
                        CARD
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none"
                            onclick="selectPaymentMethod('cash')">
                        現金
                    </button>
                    <button type="button" class="btn btn-light border border-1 user-select-none" onclick="payment()">
                        会計
                    </button>
                </div>
            </div>
            <section class="menu" style="width: 314px;">
                <a class="btn btn-outline-primary w-100 mb-2 user-select-none" href="/pos">POS</a>
                <a class="btn btn-outline-primary w-100 mb-2 user-select-none" href="/pos/orderList">注文リスト</a>
                <a class="btn btn-outline-primary w-100 mb-2 user-select-none" href="/pos/staff">出欠管理</a>
                <a class="btn btn-primary w-100 mb-2 user-select-none" href="/pos/staffManage">スタッフ管理</a>
                <button class="btn btn-outline-primary w-100 mb-2 user-select-none selbtn"
                        th:onclick="|makeCoupon()|"
                        th:text="'クーポン発行'"></button>
            </section>
            <section class="sales-menu" style="width: 314px;">

            </section>
        </footer>
    </div>
    <div class="modal fade" id="addStaffModal" tabindex="-1" aria-labelledby="addStaffModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStaffModalLabel">スタッフ登録</h5>
                    <h5 class="modal-title mx-2" id="err1" style="display: none">-</h5>
                    <h5 class="modal-title text-danger" id="err2" style="display: none">すべてを入力してください</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addStaffForm">
                        <div class="mb-3">
                            <label for="staffName" class="form-label">名前</label>
                            <input type="text" class="form-control input" id="staffName" required>
                        </div>
                        <div class="mb-3">
                            <label for="staffPassword" class="form-label">認証番号（数字４文字）</label>
                            <input type="text" class="form-control input" id="staffPassword" maxlength='4' required>
                        </div>
                        <div class="mb-3">
                            <label for="staffPhone" class="form-label">電話番号（ハイフンなし）</label>
                            <input type="tel" class="form-control input" id="staffPhone" maxlength='11' required>
                        </div>
                        <div class="mb-3">
                            <label for="staffPosition" class="form-label">ポジション</label>
                            <select class="form-select" id="staffPosition" required>
                                <option th:each="position : ${positionList}" th:value="${position.id}"
                                        th:text="${position.position_Name}"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary" onclick="submitStaffForm()">登録</button>
                </div>
            </div>
        </div>
        <div class="simple-keyboard" id="keyboard"></div>
    </div>
    <div class="modal fade" id="manageStaffModal" tabindex="-1" aria-labelledby="manageStaffModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageStaffModalLabel">スタッフ管理</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="manageStaffForm">
                        <div class="mb-3">
                            <label for="manageStaffName" class="form-label">名前</label>
                            <input type="text" class="form-control" id="manageStaffName" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="manageStaffPosition" class="form-label">ポジション</label>
                            <select class="form-select" id="manageStaffPosition" required>
                                <option th:id="|opt${positionStat.count}|" th:each="position : ${positionList}"
                                        th:value="${position.id}" th:text="${position.position_Name}"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary" onclick="submitManageStaffForm()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-sm fade" id="deleteStaffModal" tabindex="-1" aria-labelledby="deleteStaffModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteStaffModalLabel">スタッフ削除確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    本当に削除しますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteStaff()">削除</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let p_staffId;
        let selectedStaffId = null;
        let today = new Date();

        let year = today.getFullYear();
        let month = ('0' + (today.getMonth() + 1)).slice(-2);
        let day = ('0' + today.getDate()).slice(-2);

        function addStaff() {
            var addStaffModal = new bootstrap.Modal(document.getElementById('addStaffModal'), {
                keyboard: false
            });
            document.getElementById('addStaffForm').reset();
            $("#err1").hide();
            $("#err2").hide();
            addStaffModal.show();
        }

        function modStaff(staffId) {
            selectedManageStaffId = staffId;
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/pos/getStaff/' + staffId, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    let staff = JSON.parse(xhr.responseText);
                    document.getElementById('manageStaffName').value = staff.name;
                    $("#opt" + staff.position.id).prop('selected', true);

                    let manageStaffModal = new bootstrap.Modal(document.getElementById('manageStaffModal'), {
                        keyboard: false
                    });
                    manageStaffModal.show();
                }
            };

            xhr.send();
        }

        function submitManageStaffForm() {
            let staffPosition = document.getElementById('manageStaffPosition').value;

            if (selectedManageStaffId !== null) {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', '/pos/updateStaff?id=' + selectedManageStaffId + '&position=' + staffPosition, true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let manageStaffModal = bootstrap.Modal.getInstance(document.getElementById('manageStaffModal'));
                        manageStaffModal.hide();
                        window.location.reload(true);
                    }
                };
                xhr.send();
            }
        }

        function delStaff(staffId) {
            selectedStaffId = staffId;
            var deleteStaffModal = new bootstrap.Modal(document.getElementById('deleteStaffModal'), {
                keyboard: false
            });
            deleteStaffModal.show();
        }


        function submitStaffForm() {
            let staffName = document.getElementById('staffName').value.trim();
            let staffPassword = document.getElementById('staffPassword').value.trim();
            let staffPhone = document.getElementById('staffPhone').value.trim();
            let staffPosition = document.getElementById('staffPosition').value;

            if (staffName && staffPassword && staffPhone && staffPosition) {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", "/pos/staffAdd?name=" + staffName + "&password=" + staffPassword + "&phone=" + staffPhone + "&position=" + staffPosition, true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            if (xhr.responseText == "added") {
                                document.getElementById('addStaffForm').reset();
                                let addStaffModal = bootstrap.Modal.getInstance(document.getElementById('addStaffModal'));
                                addStaffModal.hide();
                                window.location.reload(true);
                            } else {

                            }
                        }
                    }
                }
                xhr.send();
            } else {
                $("#err1").show();
                $("#err2").show();
            }
        }

        function confirmDeleteStaff() {
            if (selectedStaffId !== null) {
                // XMLHttpRequest 객체 생성
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/pos/staffDel?staffId=' + selectedStaffId, true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.onreadystatechange = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        var deleteStaffModal = bootstrap.Modal.getInstance(document.getElementById('deleteStaffModal'));
                        deleteStaffModal.hide();
                        window.location.reload(true);
                    }
                }
                xhr.send();
            }
        }

        function getStaffTimecard(staffId) {
            p_staffId = staffId;
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/pos/staffTimeCard?staffId=" + staffId, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        if (xhr.responseText != "") {
                            let responseList = JSON.parse(xhr.responseText);
                            responseList.sort((a, b) => {
                                let dateA = new Date(a.start[0], a.start[1] - 1, a.start[2], a.start[3], a.start[4], a.start[5]);
                                let dateB = new Date(b.start[0], b.start[1] - 1, b.start[2], b.start[3], b.start[4], b.start[5]);
                                return dateB - dateA;
                            });
                            let table = `<table class="table table-striped table-border">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-4">日付</th>
                                            <th scope="col" class="col-4">出勤時間</th>
                                            <th scope="col" class="col-4">退社時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>`;
                            responseList.forEach(function (response) {
                                let start = response.start;
                                let dateObj = new Date(start[0], start[1] - 1, start[2]);
                                let dateTime = start[0] + '-' +
                                    ('0' + start[1]).slice(-2) + '-' +
                                    ('0' + start[2]).slice(-2);
                                let inTime = '-';
                                if (start != null) {
                                    inTime =
                                        ('0' + start[3]).slice(-2) + ':' +
                                        ('0' + start[4]).slice(-2) + ':' +
                                        ('0' + start[5]).slice(-2);
                                }
                                let end = response.end;
                                let outTime = '-';
                                if (end != null) {
                                    outTime =
                                        ('0' + end[3]).slice(-2) + ':' +
                                        ('0' + end[4]).slice(-2) + ':' +
                                        ('0' + end[5]).slice(-2);
                                }

                                table += `<tr>
                                    <td>${dateTime}</td>
                                    <td>${inTime}</td>
                                    <td>${outTime}</td>
                                </tr>`;
                            });

                            table += `</tbody></table>`;
                            document.getElementById('timetable').innerHTML = table;
                        }
                    }
                }
            };
            xhr.send();
        }

        function getMenuList(staffId) {
            let salesItemsDiv = document.getElementById('sales-items');
            salesItemsDiv.innerHTML = '';
            let itemButton = document.createElement('button');
            itemButton.className = 'btn btn-outline-primary w-100 mb-2 user-select-none date-sel';
            itemButton.textContent = 'スタッフ管理';
            itemButton.setAttribute('onclick', 'modStaff(' + staffId + ')');
            salesItemsDiv.appendChild(itemButton);
            itemButton = document.createElement('button');
            itemButton.className = 'btn btn-outline-danger w-100 mb-2 user-select-none date-sel';
            itemButton.textContent = 'スタッフ削除';
            itemButton.setAttribute('onclick', 'delStaff(' + staffId + ')');
            salesItemsDiv.appendChild(itemButton);

        }

        function handleStaffClick(staffId, button) {
            var date = button.getAttribute('data-date');
            $("#manageTitle").text(button.getAttribute('data-name'));
            $("#systemTitle").text("出欠システム - " + button.getAttribute('data-name'));
            const buttons = document.querySelectorAll('.selbtn');
            buttons.forEach(button => {
                button.classList.remove('btn-primary');
                button.classList.add('btn-outline-primary');
            });
            const clickedButton = event.currentTarget;
            clickedButton.classList.remove('btn-outline-primary');
            clickedButton.classList.add('btn-primary');
            getMenuList(staffId);
            getStaffTimecard(staffId);
        }

        document.addEventListener("DOMContentLoaded", () => {
            updateTime();
            setInterval(updateTime, 1000);
        });

        function makeCoupon() {
            if (confirm("쿠폰을 발급하시겠습니까?")) {
                let xhr = new XMLHttpRequest();

                xhr.open("POST", "/pos/makeCoupon", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let couponCode = xhr.responseText;

                        alert("쿠폰이 발급되었습니다: " + couponCode);

                        location.href = "/pos";
                    }
                };

                xhr.send();
            } else {
                alert("쿠폰 발급이 취소되었습니다.");
            }
        }
    </script>

    <style>
        .numeric-keypad {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        body {
            background-color: #f0f0f0;
        }

        .scrollable {
            max-height: 530px;
            overflow-y: auto;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #004080;
            color: white;
            padding: 10px;
        }

        .main-content {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 10px;
            padding: 10px;
            height: 480px;
        }

        .order-summary,
        .menu,
        .sales-menu {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 5rem);
        }

        .modal-dialog-centered::before {
            display: block;
            height: calc(100vh - 5rem);
            content: "";
        }

        .order-summary h2,
        .menu h2,
        .sales-menu h2 {
            margin-bottom: 10px;
            color: #004080;
        }

        .footer {
            display: flex;
            gap: 10px;
            padding: 10px;
        }

        .footer div {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</th:block>
</html>
