<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/plain_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSOLDESK 売上管理プログラム</title>
    <link rel="stylesheet" href="/css/metroStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <main class="main-content">
            <section class="menu-title">
                <h1>今日の売上高</h1>
            </section>
            <div class="content" style="display: flex; justify-content: space-around">

                <div class="chart-wrapper" style="display:block">
                    <h1 style="color:rgb(11, 94, 215)" id="clock">clock</h1>
                    <h1 style="font-size: 24pt;color:rgb(11, 94, 215)">今までの売上高：<span th:text="${totalSalesToday}"></span>円</h1>
                    <div class="chart-container" style="height:430px;margin-top:40pt">
                        <canvas id="salesChart"  ></canvas>
                    </div>
                </div>

                <div class="table-container" style="display:block">

                        <div class="outerDiv" >
                            <div class="m-center" style="margin-top:30pt; margin-left:10pt">
                                <div class="ms-3 mt-3 text-center" style="width: 500px; height: auto; text-align: center">
                                    <div style="margin-left:45pt">本日の販売状況</div>
                                    <div class="chart-container" style="width: 550px; height: 470px;">
                                        <canvas id="todaySalesChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <div class="button-container">
                <div class="button" onclick="location.href='/adminSalesMainMenu'">
                    <p>제목뭘로하지</p>
                </div>
            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var todaySalesData = /*[[${todaySales}]]*/ {};
                var hourlySales = /*[[${hourlySales}]]*/ {};
                /*]]>*/

                // today's sales chart
                var labels = Object.keys(todaySalesData);
                var data = Object.values(todaySalesData);
                var ctxTodaySales = document.getElementById('todaySalesChart').getContext('2d');
                var todaySalesChart = new Chart(ctxTodaySales, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '',
                                data: data,
                                backgroundColor: 'rgba(0, 107, 214, 0.5)',
                                borderColor: '#006BD6',
                                borderWidth: 1,
                                yAxisID: 'y'
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        animation: {
                            duration: 500,
                            easing: 'easeInOutBounce'
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1
                                },
                                suggestedMax: 10
                            }
                        }
                    }
                });

                // hourly sales chart
                var hourlyLabels = Object.keys(hourlySales).map((label, index, array) => {
                    var [hour, minute] = label.split(':');
                    var endHour = parseInt(hour) + 1;
                    return `${label} ~ ${endHour < 10 ? '0' + endHour : endHour}:00`;
                });
                var hourlyData = Object.values(hourlySales);
                var ctxHourlySales = document.getElementById('salesChart').getContext('2d');
                var salesChart = new Chart(ctxHourlySales, {
                    type: 'line',
                    data: {
                        labels: hourlyLabels, // 시간대 라벨을 배열로 전달
                        datasets: [{
                            label: '今日の累積売上高',
                            data: hourlyData, // 누적 매출 데이터를 배열로 전달
                            borderColor: '#006BD6',
                            backgroundColor: 'rgba(0, 107, 214, 0.5)',
                            fill: true
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'category',
                                title: {
                                    display: true,
                                    text: '時間'
                                },
                                ticks: {
                                    autoSkip: false,
                                    maxRotation: 0,
                                    minRotation: 0
                                }
                            },
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: '累積売上高 (円)'
                                }
                            }
                        }
                    }
                });
            </script>
            <script>
                var Target = document.getElementById("clock");

                function clock() {
                    var time = new Date();

                    var month = time.getMonth();
                    var date = time.getDate();
                    var day = time.getDay();
                    var week = ['日', '月', '火', '水', '木', '金', '土'];

                    var hours = time.getHours();
                    var minutes = time.getMinutes();
                    var seconds = time.getSeconds();

                    Target.innerText =
                        `${month + 1}月 ${date}日 ${week[day]}曜日 ` +
                        `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                }

                clock();
                setInterval(clock, 1000); // 1초마다 실행
            </script>
        </main>
    </div>
</th:block>
</body>
</html>
