<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/pos_layout}">
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSOLDESK 売上管理プログラム</title>
    <link rel="stylesheet" href="/css/metroStyle.css"> <!-- metroStyle.css 파일 경로로 수정 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="pos-content">
        <div class="posDiv outDiv">
            <!-- 첫째 줄 -->
            <div style="display: flex">
                <div class="button" onclick="location.href='/totalSalesByYear'"
                >
                    <img src="/img/storeownerpage/yearlyrevenueicon2.png" alt="年度別総売上高">
                    <p>年度別総売上高</p>
                </div>
                <div class="button" onclick="location.href='/totalSalesByMonth'"
                >
                    <img src="/img/storeownerpage/monthrevenueicon.png" alt="月々の総売上高">
                    <p>月々の総売上高</p>
                </div>
                <div class="button" onclick="location.href='/totalSalesByDayInput'"
                >
                    <img src="/img/storeownerpage/dailyrevenueicon.png" alt="日商/週間売上">
                    <p>日商/週間売上</p>
                </div>
                <div class="button" onclick="location.href='/totalSalesbyCategoryAndPeriodInput'"
                >
                    <img src="/img/storeownerpage/classificationrevenueicon.png" alt="カテゴリー別総売上高">
                    <p>カテゴリー別総売上高</p>
                </div>
            </div>
            <!-- 2째 줄 -->
            <div style="display: flex">
                <div class="button" onclick="location.href='/totalSalesbyMenuAndPeriodInput'"
                >
                    <img src="/img/storeownerpage/menurevenueicon.png" alt="メニュー別売上販売の現状">
                    <p>メニュー別総売上</p>
                </div>
                <div class="button" onclick="location.href='/menuList'"
                >
                    <img src="/img/storeownerpage/inventoryicon.png" alt="メニュー別商品管理">
                    <p>メニュー別商品管理</p>
                </div>
                <div class="button" onclick="location.href='/categoryList'">
                    <img src="/img/storeownerpage/inventoryicon.png" alt="カテゴリー別商品管理">
                    <p>カテゴリー別商品管理</p>
                </div>
                <div class="button" onclick="location.href='/adminSalesMainHome'">
                    <img src="/img/storeownerpage/money.png" alt="今日の売上高">
                    <p>今日の売上高</p>
                </div>
            </div>
            <div style="display: flex">
                <div class="button" onclick="location.href='/membershipList'">
                    <img src="/img/storeownerpage/classificationrevenueicon.png" alt="カテゴリー別総売上高">
                    <p>メンバシップ会員照会</p>
                </div>
                <!--
                <div class="button">
                    <img src="/img/storeownerpage/staff.png" alt="従業員管理">
                    <p>従業員管理</p>
                </div>
                    <div class="button">
                        <img src="/img/storeownerpage/ordericon.png" alt="注文分析">
                        <p>注文分析</p>
                    </div>
                    <div class="button">
                        <img src="/img/storeownerpage/expenditureicon.png" alt="支出管理">
                        <p>支出管理</p>
                    </div>
                    <div class="button">
                        <img src="/img/storeownerpage/salereport.png" alt="レポート生成">
                        <p>レポート生成</p>
                    </div>
                </div>
                <div style="display: flex">
                    <div class="button">
                        <img src="/img/storeownerpage/promotion.png" alt="プロモーション管理">
                        <p>プロモーション管理</p>
                    </div>
                    <div class="button">
                        <img src="/img/storeownerpage/settings.png" alt="設定">
                        <p>設定</p>
                    </div>
                    <div class="button">
                        <img src="/img/storeownerpage/help.png" alt="ヘルプ">
                        <p>ヘルプ</p>
                    </div>
                    <div class="button">
                        <img src="/img/storeownerpage/logout.png" alt="ログアウト/終了">
                        <p>ログアウト/終了</p>
                    </div>
                -->
                </div>
        </div>
    </div>
</th:block>
</body>
</html>
