<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${salesRequest}" method="post" action="/createSales">


    日時:<input th:field="*{date}"><br>
    分類:<input th:field="*{category}"><br>
    メニュー:<input th:field="*{menu}"><br>
    値段:<input th:field="*{price}"><br>
    数:<input th:field="*{quantity}"><br>
    装置:<input th:field="*{device}"><br>
    装置番号:<input th:field="*{deviceNum}"><br>

    <button>売り上げ登録</button>
</form>
<button onclick="location.href='/salesMain'">メイン画面に復帰</button>
</body>
</html>