<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<th:block layout:fragment="content">
<body>
<h2>Sales Table</h2>
<table>
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">date</th>
        <th scope="col">category</th>
        <th scope="col">menu</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">device</th>
        <th scope="col">deviceNum</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sale : ${sales}">
        <td th:text="${sale.id}"></td>
        <td th:text="${sale.date}"></td>
        <td th:text="${sale.category}"></td>
        <td th:text="${sale.menu}"></td>
        <td th:text="${sale.price}"></td>
        <td th:text="${sale.quantity}"></td>
        <td th:text="${sale.device}"></td>
        <td th:text="${sale.deviceNum}"></td>
        <td><button th:onclick="'update('+${sale.id}+')'">売り上げ修正</button></td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='/salesDataBaseControllerMenu'">メイン画面に復帰</button>
<button onclick="location.href='/totalSalesByYearInput?categoryIds=1'">カテゴリー1の総売上高</button>
<button onclick="location.href='/totalSalesByYearInput?categoryIds=2'">カテゴリー2の総売上高</button>
<button onclick="location.href='/totalSalesByYearInput?categoryIds=1,2'">カテゴリー1.2の総売上高</button>
<button onclick="location.href='/totalSalesByCategory'">カテゴリー全体別の総売上高</button>
<button onclick="location.href='/totalSalesByYear'">年度別の総売上高</button>
<button onclick="location.href='/totalSalesByYearAndCategoryInput'">年度別及びかてごりー別の総売上高</button>





<script>
    function update(id) {
        location.href = "/productUpdate?id=" + id;
    }
</script>
</body>
</th:block>
</html>
