<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/plain_layout}">
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSOLDESK 売上管理プログラム</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/metroStyle.css"> <!-- metroStyle.css 파일 경로로 수정 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <header class="header" style="height:42px !important;">
            <a onclick="location.href='/adminSalesMainHome'">ホーム</a>
            <a onclick="location.href='/adminSalesMainMenu'">メニュー</a>
        </header>
        <main class="main-content">
            <section class="menu-title">
                <h1 style="font-size: 22pt">メニュー別売上販売の現状</h1>
            </section>



            <div class="content" style="display:block">
                <div class="menu-description container" style="display:flex">
                    <div style="background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                        <img id="menu-detail-image" th:if="${menu.image} != null" th:src="${menu.image}"
                             style="width: 50%; height: auto;">

                    </div>
                    <div>
                        <h3>メニュー名:　<span th:text="${menu.name}"></span></h3>
                        <h3>メニュー価格: <span th:text="${menu.price}"></span>円</h3>
                        <h3>メニュー原価: <span th:text="${menu.cost}"></span>円</h3>


                        <h3>利益率: <span th:text="${profitRate}"></span>%</h3>


                    </div>


                </div>

                <div class="chart-container">
                    <table>
                        <thead>
                        <tr>
                            <th>分類</th>
                            <th>累積</th>
                            <th>今日</th>
                            <th>今週</th>
                            <th>今月</th>
                            <th>今四半期</th>
                            <th>今年</th>
                        </tr>
                        </thead>
                        <tr>
                            <th>販売量</th>
                            <td th:text="${totalQuantity}+'個'"></td>
                            <td th:text="${todayQuantity}+'個'"></td>
                            <td th:text="${weekQuantity}+'個'"></td>
                            <td th:text="${monthQuantity}+'個'"></td>
                            <td th:text="${quarterQuantity}+'個'"></td>
                            <td th:text="${yearQuantity}+'個'"></td>
                        </tr>
                        <tr>
                            <th>販売量シェア</th>
                            <td th:text="${quantityPercentage}+'%'"></td>
                            <td th:text="${todayQuantityPercentage}+'%'"></td>
                            <td th:text="${weekQuantityPercentage}+'%'"></td>
                            <td th:text="${monthQuantityPercentage}+'%'"></td>
                            <td th:text="${quarterQuantityPercentage}+'%'"></td>
                            <td th:text="${yearQuantityPercentage}+'%'"></td>
                        </tr>
                        <tr>
                            <th>売上高</th>
                            <td th:text="${totalSalesAmount}+'円'"></td>
                            <td th:text="${todaySalesAmount}+'円'"></td>
                            <td th:text="${weekSalesAmount}+'円'"></td>
                            <td th:text="${monthSalesAmount}+'円'"></td>
                            <td th:text="${quarterSalesAmount}+'円'"></td>
                            <td th:text="${yearSalesAmount}+'円'"></td>
                        </tr>
                        <tr>
                            <th>売上高シェア</th>
                            <td th:text="${salesPercentage}+'%'"></td>
                            <td th:text="${todaySalesPercentage}+'%'"></td>
                            <td th:text="${weekSalesPercentage}+'%'"></td>
                            <td th:text="${monthSalesPercentage}+'%'"></td>
                            <td th:text="${quarterSalesPercentage}+'%'"></td>
                            <td th:text="${yearSalesPercentage}+'%'"></td>
                        </tr>
                    </table>
                </div>


            </div>


            <div>

                <h3>누적 원가: <span th:text="${totalMenuCost}"></span>円// 원가 점유율 <span th:text="${costPercentage}"></span>%
                </h3>


            </div>

        </main>
    </div>

</th:block>
</body>
</html>