<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<head>
    <meta charset="UTF-8">
    <title>Total Sales by Category</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>
<th:block layout:fragment="content">
<h1>Total Sales by Category</h1>
<table>
    <thead>
    <tr>
        <th>Category ID</th>
        <th>Total Sales</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="totalByCategory : ${totalByCategory}">
        <td th:text="${totalByCategory.key}"></td>
        <td th:text="${totalByCategory.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</th:block>
</html>
