<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>Total Sales by Year and Category</title>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <h1>年度別およびカテゴリ別の総売上高</h1>
    <form action="/totalSalesByYearAndCategoryInput" method="get">
        <label for="year">年度を入力:</label>
        <input type="number" id="year" name="year">
        <label for="category">カテゴリーを入力:</label>
        <input type="number" id="category" name="category">
        <button type="submit">総売上高閲覧</button>
    </form>

    <div th:if="${year != null && category != null}">
        <h2>年度: <span th:text="${year}"></span> カテゴリー: <span th:text="${category}"></span></h2>
        <p>総売上高: <span th:text="${totalSales}"></span></p>
    </div>
    <button onclick="location.href='/adminSalesMenu'">管理者画面に復帰</button>
</div>
</body>
</html>
