<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/pos_layout}">
>
<head>
    <link rel="stylesheet" href="/css/metroStyle.css">
    <script>
        function submitForm() {
            document.querySelector('form').submit();
        }

        function formatGrowthRate() {
            const growthRateElement = document.getElementById('growthRate');
            if (growthRateElement) {
                const growthRate = parseFloat(growthRateElement.innerText);
                growthRateElement.innerText = growthRate.toFixed(2);
            }
        }

        function redirectToWeeklySales() {
            const date = document.getElementById('date').value;
            if (date) {
                const url = '/totalWeeklySalesByDayInput?date=' + date;
                window.location.href = url;
            } else {
                alert('日付を指定してください');
            }
        }

        window.onload = formatGrowthRate;
    </script>

</head>
<body>
<th:block layout:fragment="content">
    <div class="pos-content">
        <div class="posDiv outDiv">
            <section class="menu-title">
                <h1>日商/週間売上</h1>
            </section>
            <div class="content">
                <form action="/totalSalesByDayInput" method="get">
                    <h1>
                        <div class="d-flex">
                            <span class="me-2">日付:</span>
                            <input type="date" id="date" name="date" required th:value="${param.date}"
                                   onchange="location.href='/totalSalesByDayInput?date='+this.value" style="height: 48px">
                            <div class="button my-0" onclick="redirectToWeeklySales() "style="height: 48px">
                                <p style="font-size:11pt">属している一週間の総売上高</p>
                            </div>
                        </div>
                        <h3 th:if="${year != null && month != null && day != null && param.date != null}" class="mt-2">
                            <span th:text="${year}"></span>年
                            <span th:text="${month}"></span>月
                            <span th:text="${day}"></span>日 総売上高 =
                            <span th:text="|${totalSales} ₩|"></span>
                        </h3>
                        <h3 th:if="${param.date == null && year == null}" class="mt-2">
                            日付を指定してください
                        </h3>
                    </h1>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
