<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <title>Total Sales by Year and Month</title>
  <meta charset="UTF-8">
  <script>
    function formatGrowthRate() {
      const growthRateElement = document.getElementById('growthRate');
      if (growthRateElement) {
        const growthRate = parseFloat(growthRateElement.innerText);
        growthRateElement.innerText = growthRate.toFixed(2);
      }
    }
    window.onload = formatGrowthRate;
  </script>
</head>
<body>
<div layout:fragment="content">
  <h1>年度別および月別の総売上高</h1>
  <form action="/totalSalesByYearAndMonthInput" method="get">
    <label for="year">年度を入力:</label>
    <input type="number" id="year" name="year">
    <label for="month">月を入力:</label>
    <input type="number" id="month" name="month">
    <button type="submit">総売上高閲覧</button>
  </form>

  <div th:if="${year != null && month != null}">
    <h3>年度: <span th:text="${year}"></span> 月: <span th:text="${month}"></span></h3>
    <h3>総売上高: <span th:text="${totalSales}"></span></h3>
    <h3>前月比売上高成長率: <span id="growthRate" th:text="${growthRate}"></span>%</h3>
  </div>
  <button onclick="location.href='/adminSalesMenu'">管理者画面に復帰</button>
  <button onclick="location.href='/totalSalesByMonth'">月次第の総売上高閲覧</button>

</div>
</body>
</html>
