<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/plain_layout}">
<head>
    <script>
        let idleTime = 0;
        let idleInterval;
        const maxIdleTime = 300;

        function resetIdleTimer() {
            idleTime = 0;
        }

        function startIdleTimer() {
            idleInterval = setInterval(function () {
                idleTime++;
                if (idleTime >= maxIdleTime) {
                    clearInterval(idleInterval);
                    window.location.href = '/orderStart';
                }
            }, 1000);
        }

        document.addEventListener('mousemove', resetIdleTimer);
        document.addEventListener('keypress', resetIdleTimer);
        document.addEventListener('click', resetIdleTimer);
        document.addEventListener('touchstart', resetIdleTimer);

        window.onload = function () {
            startIdleTimer();
        };
    </script>
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
<th:block layout:fragment="content">
    <div id="wrapper" class="mt-0" style="min-height: 2400px">
        <div id="sidebarMein"></div>
        <div id="sidebar">
            <div class="btn-group-vertical" role="group" aria-label="Category filter">
                <a type="button" class="rounded-0 border border-1 btn scrollNav btn-warning"
                   th:each="category : ${categories}"
                   th:text="${category.name}"
                   th:href="|#section${categoryStat.count}|"
                   th:if="${categoryStat.count == 1}">
                    <!--                        th:onclick="|filterMenu('${category.id}')|">-->
                    <i class="fas fa-clipboard-list"></i>
                </a>
                <a type="button" class="rounded-0 border border-1 btn scrollNav btn-light"
                   th:each="category : ${categories}"
                   th:text="${category.name}"
                   th:href="|#section${categoryStat.count}|"
                   th:if="${categoryStat.count > 1}">
                    <!--                        th:onclick="|filterMenu('${category.id}')|">-->
                    <i class="fas fa-clipboard-list"></i>
                </a>
            </div>
        </div>
        <div id="content">
            <div class="section pb-5 mb-5" th:id="|section${sectionNumStat.count}|" th:each="sectionNum : ${#numbers.sequence(1,categoryCount)}">
                <h2 id="categoryTitle" th:text="${category.name}" th:if="${categoryStat.count == sectionNumStat.count}" th:each="category : ${categories}"></h2>
                <br>
                <div class="row" id="menuContainer">
                    <div class="mb-3 menuItem" th:each="menu : ${menusList[sectionNumStat.index]}"
                         th:attr="data-category=${menu.category}, data-menu-id=${menu.id}"
                         style="width: 200px">
                        <a th:if="${menu.stock} > 0"
                           th:attr="data-bs-toggle='modal', data-bs-target='#menuModal', data-menu-id=${menu.id}, data-menu-name=${menu.name}, data-menu-stock=${menu.stock}, data-menu-image=${menu.image}, data-menu-desc=${menu.description}, data-menu-priceInt=${menu.price}, data-menu-price=${#numbers.formatInteger(menu.price,1,'COMMA') + ' ₩'}">
                            <div class="card rounded rounded-3" style="width: 180px;">
                                <div class="card-body text-center">
                                    <img th:src="${menu.image}"
                                         onerror="this.onerror=null; this.src='/img/americano.png'"
                                         style="width: 8rem; height: auto;">
                                    <h5 class="card-title marquee"><span th:text="${menu.name}"></span></h5>
                                    <p class="card-text mb-0"><span
                                            th:text="${#numbers.formatInteger(menu.price, 1, 'COMMA')}+₩"></span></p>
                                </div>
                            </div>
                        </a>
                        <div class="card rounded rounded-3" style="width: 180px;" th:if="${menu.stock} <= 0">
                            <div class="rounded-3 w-100 h-100"
                                 style="background: rgba(0, 0, 0, 0.7); position: absolute;">
                            </div>
                            <div class="card-body text-center">
                                <img th:src="${menu.image}" onerror="this.onerror=null; this.src='/img/americano.png'"
                                     style="width: 8rem; height: auto;">
                                <h5 class="card-title" th:text="${menu.name}"></h5>
                                <p class="card-text mb-0" style="color: darkred; font-weight: bold; z-index: 100000;">
                                    売れ切り</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>어서오세요.>-<</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="menuModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img id="modalImage" style="width: 180px; height: auto;">
                    <form id="quantityForm">
                        <div class="mb-3">
                            <div id="modalDesc" class="">説明</div>
                            <div id="modalPrice" class="">価格</div>
                            <label for="quantityInput" class="form-label">数量</label>
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-secondary"
                                        onclick="changeQuantity(-1)">-
                                </button>
                                <input type="number" class="form-control text-center" id="quantityInput"
                                       name="quantity"
                                       value="1" min="1" readonly>
                                <button type="button" class="btn btn-outline-secondary" onclick="changeQuantity(1)">
                                    +
                                </button>
                            </div>
                        </div>
                        <input type="hidden" id="menuIdInput" name="menuId">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveToSession()">追加</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
    <div id="paymentbuttonContainer">
        <form method="post" action="orderPayment" id="orderForm" onsubmit="return checkoutForm()">
            <input type="hidden" name="orderData" id="orderData">
            <button type="submit" class="btn btn-success" id="paymentBtn">お支払い</button>
        </form>

        <!-- Cart Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal"
                id="paymentCartBtn">
            カーゴ
        </button>
    </div>
    <!-- cart Modal 위에랑 이어짐 버튼 이동때문에 div로 감쌌음-->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">カーゴ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cartItemsContainer">
                        <!-- 장바구니 아이템들이 여기에 동적으로 추가됩니다 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary" onclick="checkout()" id="orderPay">お支払い
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 장바구니 잘 들어갔다는 모달-->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    상품이 장바구니에 추가되었습니다.<br>
                    <div id="countdown" class="mt-2"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!-- 장바구니 비어있을때 알림 모달 -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">알림</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="alertModalBody">
                    <!-- 알림 내용이 여기에 동적으로 추가됩니다 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let cartData = null;
        document.getElementById('menuModal').addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const menuName = button.getAttribute('data-menu-name');
            const menuId = button.getAttribute('data-menu-id');
            const menuStock = button.getAttribute('data-menu-stock');
            const menuImage = button.getAttribute('data-menu-image');
            const menuDesc = button.getAttribute('data-menu-desc');
            const menuPrice = button.getAttribute('data-menu-price');

            const modalTitle = document.getElementById('menuModalLabel');
            const quantityInput = document.getElementById('quantityInput');
            const menuIdInput = document.getElementById('menuIdInput');
            const modalImage = document.getElementById('modalImage');
            const modalDesc = document.getElementById('modalDesc');
            const modalPrice = document.getElementById('modalPrice');

            modalTitle.textContent = menuName;
            modalDesc.textContent = menuDesc;
            modalPrice.textContent = menuPrice;
            quantityInput.value = '1';
            quantityInput.setAttribute('max', menuStock);
            menuIdInput.value = menuId;
            modalImage.setAttribute('src', menuImage);
        });

        function saveToSession() {
            const menuId = document.getElementById('menuIdInput').value;
            const quantity = parseInt(document.getElementById('quantityInput').value);

            if (quantity < 0) {
                alert("数量は0以上にしてください。");
                return;
            }

            // AJAX 요청을 통해 서버로 데이터 전송
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/addToSession", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var successModal = new bootstrap.Modal(document.getElementById('successModal'), {
                        keyboard: false
                    });

                    successModal.show();

                    let remainingTime = 3; // 3초를 설정할거면 3초 이건 상황에 맞춰서
                    document.getElementById('countdown').innerText = `이 창은 ${remainingTime}초 후에 창이닫힙니다.`
                    const countdownInterval = setInterval(function () {
                        remainingTime -= 1;
                        document.getElementById('countdown').innerText = `이 창은 ${remainingTime}초 후에 창이닫힙니다.`
                        if (remainingTime <= 0) {
                            clearInterval(countdownInterval);
                            successModal.hide();
                        }
                    }, 1000);

                    document.getElementById('menuModal').querySelector('.btn-close').click();
                    loadCart();
                } else if (xhr.readyState === 4) {
                    alert("오류가 발생했습니다: " + xhr.status);
                }
            };

            const data = JSON.stringify({"menuId": menuId, "quantity": quantity});
            xhr.send(data);
        }

        function filterMenu(category) {
            const menuItems = document.querySelectorAll('#menuContainer .menuItem');
            console.log('Filtering menu for category', category);
            menuItems.forEach(function (item) {
                const itemCategory = item.getAttribute('data-category');
                if (category === 'all' || itemCategory === category.toString()) {
                    item.style.display = 'block';
                    console.log(`Displaying item with category: ${itemCategory}`);
                } else {
                    item.style.display = 'none';
                    console.log(`Hiding item with category: ${itemCategory}`);
                }
            });
        }

        function changeQuantity(amount) {
            const quantityInput = document.getElementById('quantityInput');
            const currentQuantity = parseInt(quantityInput.value);
            let newQuantity = currentQuantity + amount;
            if (newQuantity < 1) {
                newQuantity = 1;
            }
            const maxQuantity = parseInt(quantityInput.getAttribute('max'));
            if (newQuantity > maxQuantity) {
                newQuantity = maxQuantity;
            }
            quantityInput.value = newQuantity;
        }

        function loadCart() {
            // AJAX 요청을 통해 장바구니 데이터를 가져옴
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/getCartItems", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const cartItems = JSON.parse(xhr.responseText);
                    displayCartItems(cartItems);
                    cartData = JSON.parse(xhr.responseText);
                }
            };
            xhr.send();
        }

        function displayCartItems(cartItems) {
            const container = document.getElementById('cartItemsContainer');
            container.innerHTML = '';
            for (const menuId in cartItems) {
                const item = cartItems[menuId];
                const formattedPrice = item.price.toLocaleString();
                const itemHtml = `
            <div class="d-flex mb-3 align-items-center cart-item" data-menu-id="${menuId}" style="gap: 10px;">
                <div style="flex: 1;">${item.name}</div>
                <div style="width: 120px;">${formattedPrice} ₩</div>
                <div style="width: 120px;">
                    <div class="input-group">
                        <button type="button" class="btn btn-outline-secondary" onclick="changeCartQuantity(${menuId}, ${item.stock}, -1)">-</button>
                        <input type="number" class="form-control text-center" id="quantity-${menuId}" value="${item.quantity}" readonly>
                        <button type="button" class="btn btn-outline-secondary" onclick="changeCartQuantity(${menuId}, ${item.stock}, 1)">+</button>
                    </div>
                </div>
                <div style="width: 60px;">
                    <button type="button" class="btn btn-danger" onclick="deleteCartItem(${menuId})">削除</button>
                </div>
            </div>
            `;
                container.insertAdjacentHTML('beforeend', itemHtml);
            }
        }

        function changeCartQuantity(menuId, stock, amount) {
            const quantityInput = document.getElementById('quantity-' + menuId);
            const currentQuantity = parseInt(quantityInput.value);
            let newQuantity = currentQuantity + amount;

            if (newQuantity < 1) {
                newQuantity = 1;
            } else if (newQuantity > stock) {
                newQuantity = stock;
            }

            // AJAX 요청을 통해 서버로 데이터 전송
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/updateCartQuantity", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    quantityInput.value = newQuantity;
                } else if (xhr.readyState === 4) {
                    alert("오류가 발생했습니다: " + xhr.status);
                }
            };

            const data = JSON.stringify({"menuId": menuId, "quantity": newQuantity});
            xhr.send(data);
        }

        // 장바구니 삭제
        function deleteCartItem(menuId) {
            // AJAX 요청을 통해 서버로 데이터 전송
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/deleteCartItem", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    if (xhr.responseText === "success") {
                        // 성공적으로 삭제되면 장바구니에서 항목 제거
                        const itemRow = document.querySelector(`#cartItemsContainer [data-menu-id="${menuId}"]`);
                        if (itemRow) {
                            itemRow.remove();
                        }
                    } else {
                        console.error("오류가 발생했습니다: " + xhr.responseText);
                        alert("오류가 발생했습니다: " + xhr.responseText);
                    }
                } else if (xhr.readyState === 4) {
                    console.error("오류가 발생했습니다: " + xhr.status, xhr.responseText);
                    alert("오류가 발생했습니다: " + xhr.status);
                }
            };

            const data = JSON.stringify({"menuId": menuId});
            xhr.send(data);
        }

        function checkout() {
            // 결제하기 버튼 클릭 시 동작하는 함수
            const cartItemsContainer = document.getElementById('cartItemsContainer');
            const items = cartItemsContainer.querySelectorAll('.cart-item');

            if (items.length === 0) {
                showAlertModal('장바구니에 주문이 없습니다. 주문을 추가해주세요.');
                return false;
            } else {
                window.location.href = '/orderPayment';
            }
        }

        function checkoutForm() {
            if (cartData && Object.keys(cartData).length > 0) {
                return true;
            } else {
                showAlertModal('장바구니에 주문이 없습니다. 주문을 추가해주세요.');
                return false;
            }
        }

        // 장바구니 모달을 열 때 장바구니 데이터를 로드
        document.getElementById('cartModal').addEventListener('show.bs.modal', function () {
            loadCart();
        });

        $().ready(function () {
            loadCart();
        });


        window.onload = function () {
            startIdleTimer();
        };

        document.addEventListener("DOMContentLoaded", function () {
            var marqueeElements = document.querySelectorAll('.marquee');

            marqueeElements.forEach(function (marquee) {
                var span = marquee.querySelector('span');

                // span의 너비와 부모 요소의 너비를 비교
                if (span.scrollWidth > marquee.clientWidth) {
                    marquee.classList.add('animate');
                } else {
                    marquee.classList.remove('animate');
                }
            });
        });

        // 스크롤 네비게이션을 위한 JavaScript 추가
        document.addEventListener("DOMContentLoaded", function () {
            const sections = document.querySelectorAll(".section");
            const navLinks = document.querySelectorAll(".scrollNav");

            window.addEventListener("scroll", () => {
                let current = "";
                sections.forEach(section => {
                    const sectionTop = section.offsetTop - 100; // Adjust according to your header height
                    if (pageYOffset >= sectionTop) {
                        current = section.getAttribute("id");
                    }
                });

                navLinks.forEach(a => {
                    a.classList.add("btn-light");
                    a.classList.remove("btn-warning");
                    if (a.getAttribute("href").includes(current)) {
                        a.classList.add("btn-warning");
                        a.classList.remove("btn-light");
                    }
                });
            });

            navLinks.forEach(a => {
                a.addEventListener("click", function (e) {
                    e.preventDefault();
                    const id = this.getAttribute("href").substring(1);
                    const section = document.getElementById(id);
                    window.scrollTo({
                        top: section.offsetTop - 20, // Adjust according to your header height
                        behavior: "smooth"
                    });
                });
            });
        });
    // 장바구니 메뉴안담겼다는 알림 로직
        function showAlertModal(messge){
            const alertModalBody = document.getElementById('alertModalBody');
            alertModalBody.innerText = messge;
            const alertModal = new bootstrap.Modal(document.getElementById('alertModal'));
            alertModal.show();
        }

    </script>
</th:block>
</body>
</html>
