<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/plain_layout}">
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIOSK</title>
    <link rel="stylesheet" href="/css/kiosk.css">
</head>
<body>
<th:block layout:fragment="content">
    <div onclick="location.href = '/order/kiosk/menu'">
        <div class="container w-100 text-center align-content-center" style="height: 100vh; background-color: #ffcc00;">
            <div class="fs-1 fw-bold fade-effect">キオスク</div>
            <div class="fs-4 fade-effect">注文するなら画面をタッチしてください</div>
        </div>
    </div>
</th:block>
</body>
</html>
