<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/plain_layout}">
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIOSK</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .container {
            width: 768px !important;
            margin: auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        @keyframes fadeInOut {
            0%, 100% { opacity: 0; }
            50% { opacity: 1; }
        }

        .fade-effect {
            animation: fadeInOut 2s infinite;
        }

    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div onclick="location.href = '/order/kiosk'">
        <div class="container w-100 text-center align-content-center" style="height: 100vh; background-color: #ffcc00;">
            <div class="fs-1 fw-bold fade-effect">ご注文ありがとうございます</div>
            <div class="fs-4 fade-effect">最初へ戻るなら画面をタッチしてください</div>
        </div>
    </div>
</th:block>
</body>
</html>
