<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<body>
<th:block layout:fragment="content">
    <h1>メニュー</h1>
    <div th:each="menu, iterStat : ${menus}">
        メニュー : <span th:text="${menu.name}"></span>
        <br>
        値段 : <span th:text="${menu.price}"></span>
        <br>
        残り : <span th:text="${menu.stock}"></span>
        <br>
        數量: <input type="number" th:id="'quantity-' + ${iterStat.index}" value="0" min="0"
                     onchange="updateQuantity(this)"/>
        <br>
        <br>
    </div>
    <button>결제</button>
</th:block>
<script>
    function updateQuantity(inputElement) {
        var newValue = parseInt(inputElement.value);
        if (isNaN(newValue) || newValue < 0) {
            inputElement.value = 0;
        }
    }
</script>
</body>
</html>