<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<script>
    function increaseStock(index) {
        var stockElement = document.getElementById("stock-" + index);
        var currentStock = parseInt(stockElement.textContent);
        stockElement.textContent = currentStock + 1;
    }
    function  decreaseStock(index) {
        var stockElement = document.getElementById("stock-" + index);
        var currentStock = parseInt(stockElement.textContent);
        if (currentStock > 0) {
            stockElement.textContent = currentStock - 1;
        }
    }
</script>
<th:block layout:fragment="content">
    <h1>メニュー</h1>
    <div th:each="menu, iterStat : ${menus}">
        메뉴이름 : <span th:text="${menu.name}"></span>
        가격 : <span th:text="${menu.price}"></span>
        남은수량 : <span  id="stock-[[${iterStat.index}]]" th:text="${menu.stock}"></span>
        <button type="button" onclick="increaseStock([[${iterStat.index}]])">+</button>
        <button type="button" onclick="decreaseStock([[${iterStat.index}]])">-</button>
    </div>
    <button>결제</button>
</th:block>
</html>