<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .modal-dialog {
            display: flex;
            align-items: center;
            min-height: calc(100vh - 1rem);
        }

        .modal-content {
            margin: auto;
        }

        .table {
            table-layout: fixed;
            width: 100%;
        }

        .table td, .table th {
            word-wrap: break-word;
            white-space: normal;
        }

        .tbody td, .tbody th {
            height: 185px;
        }

        .not-null {
            transition: background-color 0.3s;
        }

        .not-null:hover {
            background-color: yellow;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center">Table</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr>
            <td th:id="TB1">
                <div th:onclick="|loadOrderDetail(this)|" th:if="${tableOrders['TB1'] != null}" data-toggle="modal" data-target="#orderDetailModal">
                    <p>1번 테이블</p>
                    <div th:each="order : ${tableOrders['TB1']}"
                        class="not-null">
                        <p style="display: none" class="menu-detail" th:utext="'메뉴 이름 :  <span>' + ${order['menuName']} +  '</span>, 수량 : <span>' + ${order['quantity']}+ '</span>'">No Data</p>

                    </div>
                </div>
                <div th:if="${tableOrders['TB1'] == null}">
                    <p>1번 테이블</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailModalLabel">주문 상세</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                    <!-- 모달 내용이 여기 로드됩니다 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(function () {
           listPerTbl();

        });





function listPerTbl(){
    const details = $("#TB1").find(".menu-detail");
    console.log($("#TB1").find('.menu-detail').length);
    console.log($("#TB1").find('.menu-detail'));

    let title = $(details).eq(0).find('span').text();
    console.log(title);
    // $(details).each((idx,el)=>{
    //
    //     console.log(el);
    // });

}



        function loadOrderDetail(div) {
            // fetch(`/orderDetailTable?orderID=${orderID}`)
            //     .then(response => response.text())
            //     .then(html => {
            //         document.getElementById('modalContent').innerHTML = html;
            //     });
            let details = $(div).find('.menu-detail');
            let content = "";
            $(details).each((idx, detail)=>{
                content +=$(detail).prop('outerHTML');
            });
            console.log(content)
            document.getElementById('modalContent').innerHTML = content;
            $("#modalContent").find('.menu-detail').css("display", 'block');
        }
    </script>
</th:block>
</html>