<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<th:block layout:fragment="content">
    <h1>注文方法</h1>
    <div th:each="device : ${orders}"></div>
    <div>
        <form th:object="${deviceRequest}" method="post" action="order">
            <button>キオスク</button>
            <button>モバイルウェブ注文</button>
            <button>座席注文</button>
        </form>
    </div>
    <br>
    </div>
</th:block>
</html>