<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/user_layout}">
>
<th:block layout:fragment="content">

    <div id="wrapper">
        <div class="outerDiv" style="min-height: 680px !important;">
            <div class="m-center border border-end h-100">
                <div class="d-flex justify-content-around my-5">
                    <div class="border text-center align-content-center" th:each="menu: ${menus}"
                         th:style="|width:200px !important;height:180px !important;|">
                        <img th:src="|${menu.image}|" th:style="|width:120px;height:90px;|">
                        <div th:text="${menu.name}"></div>
                        <div th:text="|${#numbers.formatInteger(menu.price, 1 , 'COMMA')}ウォン|"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>