<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="layoutSidenav" th:fragment="sidebarFragment">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="fs-6 sb-sidenav-menu-heading nav-link text-decoration-none" href="/admin"><i class="bi bi-house-fill me-1"></i>管理者ホーム</a>
                    <a class="fs-6 sb-sidenav-menu-heading nav-link" href="/menuIndex">
                        <i class="bi bi-newspaper me-1"></i>
                        商品管理
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/menuList">メニュー</a>
                            <a class="nav-link" href="/categoryList">カテゴリ</a>
                        </nav>
                    </div>
                    <a class="fs-6 sb-sidenav-menu-heading nav-link" href="/adminSalesMainHome">
                        <i class="bi bi-graph-up me-1"></i>
                        売上分析
                    </a>
                </div>
            </div>
        </nav>
    </div>
</html>