:root {
    --header-height: 72px;
    --footer-height: 0px;
    --bs-font-sans-serif: "Noto Sans JP", "Noto Sans KR", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

}



/* header footer 레이아웃 잡기 */
header {

    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 200;
}

body {
    padding-top: var(--header-height);
}

#wrapper {
    height: auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}
/* header footer 레이아웃 잡기 끝 */

/* header */
.header-wrapper {
    width: 1280px !important;
    height: var(--header-height) !important;
    padding: 5px 0;
}
/* header */

/* content */
.content-wrapper{
    width: 1280px !important;
    height: 100%;
}
/* content */



html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, form, label, legend, input, button, textarea, select, .outerDiv, .innerDiv {
    margin: 0;
    padding: 0
}

.m-center {
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.simple-keyboard {
    position: fixed;
    bottom: 0;
    left: 106px;
    width: 1097px !important;
    z-index: 1000; /* 키보드가 다른 요소들보다 위에 표시되도록 설정 */
    display: none; /* 기본적으로 숨김 */
}


.simple-keyboard button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#keyboard {
    margin-top: 20px;
}

.language-toggle {
    margin-top: 20px;
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1440px) {
    .bottomDiv{
        width: 538px;
    }
}