:root {
    --header-height: 55px;
    --footer-height: 145px;
}

/* header footer 레이아웃 잡기 */
header {
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 200;
}

body {
    padding-top: var(--header-height);
}

#wrapper {
    height: auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}
/* header footer 레이아웃 잡기 끝 */

/* header */
.header-wrapper {
    width: 1280px !important;
    height: var(--header-height) !important;
    padding: 5px 0;
}
/* header */

/* content */
.content-wrapper{
    width: 1280px !important;
    height: 100%;
}
/* content */



html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, form, label, legend, input, button, textarea, select, .outerDiv, .innerDiv {
    margin: 0;
    padding: 0
}

.m-center {
    margin: 0 auto;
}