body {
    background-color: #f0f0f0;
}

h1 {
    color: rgb(0, 64, 128);
    font-size: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004080;
    color: white;
    padding: 10px;



}

.menu-title {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}


.header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem; /* Increase font size */
    transition: background-color 0.3s, font-size 0.3s, transform 0.3s; /* Smooth transition for color and font size */
    padding: 6px 16px; /* Add padding for better click area */
    display: inline-block;
    position: relative; /* Allow transform without affecting layout */
}

.header a:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0; /* Light Blue */
    color: black;
    transform: scale(1.05); /* Increase size on hover */
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.table-container, .chart-wrapper {
    width: 49%;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: white; /* Set background color to white */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto; /* Enable vertical scroll */
}

.table-container table {

    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.1rem;
    table-layout: fixed; /* Fix the table layout */
    padding: 10px;

}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 5px;
}

.table-container th {
    background-color: #673AB7; /* Change column header background color */
    color: white; /* Ensure text color is readable */
}

.chart-wrapper {
    height: 600px; /* Increase chart height */
    padding: 20px;
}

.chart-container {
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border-color: rgb(13, 110, 253);
}

.button {
    color: rgb(0, 64, 128);
    background-color: white;
    width: 23%;
    margin: 1%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    border-radius: 8px;
    font-size: 1.2rem; /* Increase font size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(13, 110, 253); /* Specify border color, width, and style */
    position: relative; /* Allow transform without affecting layout */
}

.button:hover {
    background-color: rgb(13, 110, 253);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transition: box-shadow 0.3s; /* Smooth transition for shadow */
    color: white;
}

.button p {
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

.button img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.result-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: white; /* Set background color to white */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
}

.result-container h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

