<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>

<th:block layout:fragment="content">
    <div class="search-container">
        <input class="search-input form-control rounded-2 ps-1 me-1" type="text" id="search-input" placeholder="カテゴリー名で検索" oninput="filterCategoryByName()">
        <button class="search-button btn btn-primary d-flex align-items-center me-2" onclick="location.href='/categoryCreate'">
            カテゴリー登録
        </button>
    </div>
    <div id="category-items" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="category-item" th:each="category, iterStat : ${categories}">
            <div class="col">
                <div class="card border-primary text-center w-100" style="background-color: #dde4fb;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 2rem" th:text="|${category.name}|"></h5>
                        <div class="category-buttons d-flex flex-column align-items-center">
                            <a th:onclick="|toMenuList(${category.id})|" class="btn btn-secondary">メニューリストへ</a>
                            <a th:onclick="|updateCategory(${category.id})|"
                               class="btn btn-primary">カテゴリー名変更</a>
                            <a th:onclick="|deleteCategory(${category.id})|" class="btn btn-danger">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-primary text-center w-100" style="background-color: #dde4fb;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2rem">カテゴリー登録</h5>
                    <div class="category-buttons d-flex flex-column align-items-center">
                        <a onclick="location.href='/categoryCreate'" class="btn btn-success">登録する</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteCategory(pk) {
            let ok = confirm("本当にカテゴリーを削除しますか?")
            if (ok) {
                $.ajax({
                    url: '/CategoryDelete',
                    type: 'POST',
                    data: {
                        id: pk
                    },
                    success: function (response) {
                        alert('カテゴリーの削除が成功しました。')
                        location.href = '/categoryList';
                    },
                    error: function () {
                        alert('カテゴリーの削除が失敗しました。')
                    }
                })
            }
        }

        function updateCategory(pk) {
            let currentName = $("#" + pk + "_name").val();
            let newName = prompt("新しいカテゴリー名を入力してください。", currentName)
            if (newName != null && newName !== "" && newName !== currentName) {
                $.ajax({
                    url: '/categoryUpdate',
                    type: 'POST',
                    data: {
                        id: pk,
                        name: newName
                    },
                    success: function (response) {
                        alert('カテゴリー名の変更が成功しました。')
                        location.href = '/categoryList';
                    },
                    error: function () {
                        alert('カテゴリー名の変更が失敗しました。')
                    }
                })
            } else {
                alert('入力間違い又は元カテゴリー名と一致しています。')
            }
        }

        function toMenuList(pk) {
            location.href = "/menuList?category=" + pk;
        }

        function filterCategoryByName() {
            const searchInput = document.getElementById('search-input').value.toLowerCase();
            const categoryItems = document.getElementsByClassName('category-item');
            for (let i = 0; i < categoryItems.length; i++) {
                const categoryItem = categoryItems[i];
                const categoryName = categoryItem.querySelector('.card-title').innerText.toLowerCase();
                if (categoryName.includes(searchInput)) {
                    categoryItem.style.display = '';
                } else {
                    categoryItem.style.display = 'none';
                }
            }
        }
    </script>

</th:block>
</html>
<style>
    .btn {
        width: 10em;
        margin-bottom: 0.25em;
    }

    .btn-danger {
        width: 5em;
    }

    #category-items {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
    }

    #search-input {
        left: 1rem;
        top: 0.4rem;
        position: relative;
    }
    .search-container {
        display: flex;
        justify-content: space-between;
    }
    .search-input {
        flex: 1; /* 너비를 조정하여 화면에 맞추기 */
        max-width: 18rem; /* 최대 너비 설정 */
    }
</style>
