<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<th:block layout:fragment="content">
    <div class="menu-list-navi py-1">
        <label>
            <select class="mt-3 ms-3 rounded-2" onchange="(location.href = this.value);"
                    style="width: 180px; height: 30px">
                <option value="/menuList">全カテゴリー</option>
                <option th:each="category : ${categories}"
                        th:value="|/menuList?category=${category.id}|"
                        th:text="${category.name}"
                        th:selected="${#strings.equals(param.category, category.id)}">
                </option>
            </select>
        </label>
        <div class="d-flex justify-content-end">
            <input class="rounded-2 ps-1 me-1" type="text" id="search-input" placeholder="メニュー名で検索"
                   oninput="filterMenusByName()">
            <button id="filterLowStock" class="btn btn-warning d-flex align-items-center me-1"
                    onclick="filterMenusByStockStatus()">不足状態のみ
            </button>
            <button class="btn btn-primary d-flex align-items-center me-3" onclick="location.href='/menuCreate'">
                メニュー登録
            </button>
        </div>
    </div>
    <div id="scrollable-content" class="scrollable-container">
        <div id="menu-container" class="mt-3 d-flex flex-wrap ">
            <div th:each="menu : ${menus}" class="menu-item text-center align-content-center"
                 th:id="${menu.id}" style="width: 24%; height: 30%;" th:onclick="|detail(${menu.id})|">
                <div class="user-select-none">
                    <img th:src="${menu.image}" style="width: 150px; height: 150px;">
                    <div style="font-size: 20pt; background-color: #f3f5f6" id="menu-name" class="user-select-none"
                         th:text="${menu.name}"></div>
                    <div class="user-select-none" style="font-size: 1.2em"
                         th:text="|${#numbers.formatInteger(menu.price,1,'COMMA')} 원|"></div>
                    <div th:each="category : ${categories}">
                        <div class="user-select-none menu-category-name" th:text="|カテゴリー : ${category.name}|"
                             th:if="${category.id == menu.category}"></div>
                        <span id="category-id" style="display: none" th:text="${menu.category}"></span>
                    </div>
                    <div id="menu-stock" class="user-select-none">
                        <span th:text="|ストック : ${menu.stock}|"></span>
                        <span style="color: #7e149f" th:if="${menu.stockorder != 0}"
                              th:text="| + ${menu.stockorder}|"></span>
                    </div>
                    <div th:each="sale : ${salesCount}" th:if="${sale.key.id == menu.id}">
                        <div th:if="${sale.key.id == menu.id}" class="user-select-none"
                             th:text="|${salesDays}日間販売量 : ${sale.value}|"></div>
                        <div th:if="${menu.stock <= 0}" class="user-select-none stock-status"
                             style="color: #ff363b; font-weight: bold;"
                             th:text="在庫切れ"></div>
                        <div th:if="${menu.stock > 0}">
                            <div th:if="${menu.stock < sale.value}" class="user-select-none stock-status"
                                 style="color: #ff363b"
                                 th:text="在庫不足"></div>
                            <div th:if="${menu.stock >= sale.value}" class="user-select-none stock-status"
                                 style="color: #0a53be"
                                 th:text="在庫あり"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert-container fixed-bottom-alert">
        <div th:if="${successMessage} != '' " class="alert alert-success" role="alert"
             th:text="${successMessage}"></div>
        <div th:if="${errorMessage} != '' " class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <div class="btn-group">
                        <button id="salesManagementButton" class="btn btn-primary d-flex align-items-center rounded-2">
                            売上管理
                        </button>
                        <button type="button" class="btn btn-close d-flex align-items-center"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>


                <div class="modal-body">
                    <img id="modalImage" src="" style="width: 100%; height: auto;">
                    <p id="modalPrice"></p>
                    <p id="modalCategory"></p>
                    <p id="modalStock"></p>
                    <p id="modalDescription"></p>
                </div>
                <div class="modal-footer">
                    <input type="number" id="order-input" placeholder="発注量入力"
                           style="display: none; margin-right: 10px; width: 10rem">
                    <div id="alert-container"
                         style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;"></div>
                    <button type="button" class="btn btn-warning d-flex align-items-center" id="order-button"
                            onclick="toggleOrderInput()">
                        発注
                    </button>
                    <button type="button" class="btn btn-primary d-flex align-items-center" data-bs-dismiss="modal"
                            onclick="update()">修正
                    </button>
                    <button type="button" class="btn btn-secondary d-flex align-items-center"
                            data-bs-dismiss="modal">キャンセル
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for confirming stock update -->
    <div class="modal fade" id="stockUpdateModal" tabindex="-1" aria-labelledby="stockUpdateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stockUpdateModalLabel">確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    発注したメニューを受領しましたか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="cancelOrderButton">発注取消</button>
                    <button type="button" class="btn btn-primary" id="confirmReceiveButton">受領確認</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let currentMenu;

        function detail(pk) {
            currentMenu = pk;
            // AJAX를 사용하여 메뉴 상세 정보를 가져옴
            $.ajax({
                url: '/menuDetail?id=' + pk,
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    // 데이터가 성공적으로 로드되면 모달에 데이터를 설정
                    $('#modalTitle').text(data.menu.name);
                    $('#modalImage').attr('src', data.menu.image);
                    $('#modalPrice').text('価格 : ' + data.menu.price + ' ₩');
                    $('#modalCategory').text('カテゴリー : ' + data.category.name);
                    if (data.menu.stockorder > 0) {
                        $('#modalStock').text('ストック : ' + data.menu.stock + ' + ' + data.menu.stockorder);
                        $('#modalStock').off('click').on('click', updateStockAndOrder);
                    } else {
                        $('#modalStock').text('ストック : ' + data.menu.stock);
                        $('#modalStock').off('click');
                    }
                    // 상품별 매상관리 페이지로 보냄.
                    $('#modalDescription').text(data.menu.description);

                    // 상품별 매상관리 페이지로 보냄.
                    $('#salesManagementButton').attr('onclick', 'toSalesAnalysis()');

                    // 모달을 표시
                    var myModal = new bootstrap.Modal(document.getElementById('menuModal'), {});
                    myModal.show();
                },
                error: function () {
                    alert('メニューロードエラー');
                }
            });
        }

        function toSalesAnalysis() {
            location.href = "/salesAnalysisByMenuInput?menuId=" + currentMenu;
        }

        function update() {
            location.href = "/menuUpdate?id=" + currentMenu;
        }

        function filterMenusByName() {
            const searchInput = document.getElementById('search-input').value.toLowerCase();
            const menuItems = document.getElementsByClassName('menu-item');
            for (let i = 0; i < menuItems.length; i++) {
                const menuItem = menuItems[i];
                const menuName = menuItem.querySelector('#menu-name').innerText.toLowerCase();
                if (menuName.includes(searchInput)) {
                    menuItem.style.display = '';
                } else {
                    menuItem.style.display = 'none';
                }
            }
        }

        let isFilterApplied = false;

        function filterMenusByStockStatus() {
            const menuItems = document.querySelectorAll('.menu-item');
            const filterButton = document.getElementById('filterLowStock');

            if (isFilterApplied) {
                // 필터 해제
                menuItems.forEach(item => {
                    item.style.display = 'block';
                });
                filterButton.textContent = '不足状態のみ';
            } else {
                // 필터 적용
                menuItems.forEach(item => {
                    const stockStatusElement = item.querySelector('.stock-status');
                    if (stockStatusElement.textContent === '在庫切れ' || stockStatusElement.textContent === '在庫不足') {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
                filterButton.textContent = 'フィルター解除';
            }

            isFilterApplied = !isFilterApplied;
        }

        function orderStock() {
            const orderInput = document.getElementById('order-input');
            const orderAmount = orderInput.value;
            if (orderAmount !== '' && !isNaN(orderAmount) && orderAmount > 0) {
                $.ajax({
                    url: '/orderStock',
                    type: 'POST',
                    data: JSON.stringify({id: currentMenu, amount: orderAmount}),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        showBootstrapAlert('発注しました。', 'primary');
                        location.reload(); // 페이지를 새로고침하여 변경사항을 반영합니다.
                    },
                    error: function (error) {
                        showBootstrapAlert('発注中エラーが発生しました。', 'danger');
                    }
                });
            } else {
                showBootstrapAlert('入力値を確認してください。', 'warning');
            }
        }

        function showBootstrapAlert(message, type) {
            const alertContainer = document.getElementById('alert-container');
            const alertDiv = document.createElement('div');
            alertDiv.className = `alert alert-${type} alert-dismissible alert-show`;
            alertDiv.role = 'alert';
            alertDiv.style.width = '350px';  // 너비 설정
            alertDiv.style.fontSize = '1.25rem';  // 글자 크기 설정
            alertDiv.innerHTML = `
        ${message}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;
            alertContainer.appendChild(alertDiv);

            // 알림을 5초 동안 표시
            setTimeout(function () {
                alertDiv.classList.remove('alert-show');
                alertDiv.classList.add('alert-fade');
                setTimeout(function () {
                    alertDiv.remove();
                }, 3000); // 3초 후 요소 제거
            }, 3000); // 3초 후 자동으로 사라짐
        }

        function updateStockAndOrder() {
            let myModal = new bootstrap.Modal(document.getElementById('stockUpdateModal'), {});
            myModal.show();

            document.getElementById('confirmReceiveButton').onclick = function () {
                if (confirm('本当に受領しましたか？')) {
                    $.ajax({
                        url: '/updateStockAndOrder',
                        type: 'POST',
                        data: JSON.stringify({id: currentMenu}),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            alert('在庫が追加されました。');
                            location.reload(); // 페이지를 새로고침하여 변경사항을 반영합니다.
                        },
                        error: function (error) {
                            alert('エラーが発生しました。');
                        }
                    });
                    myModal.hide();
                }
            };

            document.getElementById('cancelOrderButton').onclick = function () {
                if (confirm('本当に発注を取り消しますか？')) {
                    $.ajax({
                        url: '/cancelUpdateStockAndOrder',
                        type: 'POST',
                        data: JSON.stringify({id: currentMenu}),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            alert('発注が取り消されました。');
                            location.reload(); // 페이지를 새로고침하여 변경사항을 반영합니다.
                        },
                        error: function (error) {
                            alert('エラーが発生しました。');
                        }
                    });
                    myModal.hide();
                }
            };
        }

        function toggleOrderInput() {
            const orderInput = document.getElementById('order-input');
            const orderButton = document.getElementById('order-button');
            if (orderInput.style.display === 'none') {
                orderInput.style.display = 'block';
                orderButton.innerText = '発注確認';
                orderButton.setAttribute('onclick', 'orderStock()');
            }
        }

        $('#menuModal').on('hidden.bs.modal', function () {
            const orderInput = document.getElementById('order-input');
            const orderButton = document.getElementById('order-button');
            orderInput.style.display = 'none';
            orderButton.innerText = '発注';
            orderButton.setAttribute('onclick', 'toggleOrderInput()');
        });

        /*<![CDATA[*/
        window.onload = function () {
            let successAlert = document.querySelector('.alert-success');
            let errorAlert = document.querySelector('.alert-danger');

            if (successAlert) {
                setTimeout(function () {
                    successAlert.style.display = 'none';
                }, 3000); // 업데이트 성공 안내 메세지를 3초 후에 숨깁니다.
            }

            if (errorAlert) {
                setTimeout(function () {
                    errorAlert.style.display = 'none';
                }, 3000); // 업데이트 실패 안내 메세지를 3초 후에 숨깁니다.
            }
        }
        /*]]>*/

    </script>

    <style>
        .menu-list-navi {
            display: flex;
            justify-content: space-between;
            height: 35px;
            align-items: flex-end;
        }

        .menu-list-container {
            display: flex;
            flex-direction: column;
        }

        .menu-list-bar,
        .menu-item {
            display: flex;
            justify-content: space-between; /* 항목들 사이에 공간을 균등하게 배분 */
        }

        .menu-item:hover {
            border-radius: 10px;
            background-color: #d5d3d3;
        }

        .menu-list-bar > div,
        .menu-item > div {
            flex: 1; /* 모든 자식 div가 동등한 공간을 차지하도록 함 */
            text-align: center; /* 텍스트를 중앙 정렬 */
            border: 1px solid #d5d3d3;
            border-radius: 10px;
        }

        .menu-list-bar {
            margin-bottom: 20px; /* 제목과 항목들 사이의 간격 */
            font-weight: bold; /* 제목의 글자를 굵게 */
        }

        .btn {
            height: 30px; /* 버튼의 높이를 30px로 설정 */
            padding: 5px 10px; /* 버튼 내부의 여백 조정 */
            font-size: 15px; /* 버튼의 글꼴 크기를 조정 */
        }

        .menu-item {
            margin: 3px; /* 각 div 요소들 간의 간격을 3px로 설정 */
        }

        .scrollable-container {
            height: calc(100vh - 91px); /* 원하는 높이 설정 */
            overflow: auto;
        }

        .alert-fade {
            transition: opacity 0.5s ease-out;
            opacity: 0;
        }

        .alert-show {
            opacity: 1;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px; /* 버튼들 간의 간격을 설정 */
        }

        .fixed-bottom-alert {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .alert {
            margin: 10px;
        }
    </style>
</th:block>
</html>
