<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function deleteMenuObject(pk) {
            let ok = confirm('本当に削除しますか?');
            if (ok) {
                location.href="/menuDelete?id=" + pk;
            }
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <form action="/menuUpdate" method="post" th:object="${menuRequest}" enctype="multipart/form-data">
                            <div class="d-flex justify-content-center">
                                <img id="menu-detail-image" th:if="${menu.image} != null" th:src="${menu.image}" style="width: 33%; height: auto;"> </div>
                                <input th:field="${menu.id}" style="display: none">
                                <div class="row mb-3">
                                    <div style="text-align: start; margin: 6px 0;">メニュー名</div>
                                    <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="${menu.name}"
                                           type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニュー価格</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="${menu.price}"
                                           type="number" min="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">カテゴリー</div>
                                <div class="mb-3 mb-md-0">
                                    <select class="form-control" th:field="${menu.category}">
                                        <option th:each="category : ${categories}" th:value="${category.id}"
                                                th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニューイメージ</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="${menu.image}"
                                           type="file" min="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニュー詳細</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="${menu.description}"
                                           type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="stock" class="form-label">在庫</label>
                                    <input class="form-control" id="stock" th:field="${menu.stock}" type="number" min="0">
                                </div>
                                <div class="col-md-6">
                                    <label for="cost" class="form-label">原価</label>
                                    <input class="form-control" id="cost" th:field="${menu.cost}" type="number" min="0">
                                </div>
                            </div>

                            <div class="mt-4 mb-0">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary btn-block col-9 me-2">修正</button>
                                    <button type="button" th:onclick="|deleteMenuObject(${menu.id})|" class="btn btn-danger btn-block col-3">削除</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>