<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <form th:object="${menuRequest}" action="/menuCreate" method="post"
                              enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニュー名</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="*{name}"
                                           type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニュー価格</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="*{price}"
                                           type="number" min="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">カテゴリー</div>
                                <div class="mb-3 mb-md-0">
                                    <select class="form-control" th:field="*{category}">
                                        <option th:each="category : ${categories}" th:value="${category.id}"
                                                th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニューイメージ</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="*{image}"
                                           type="file" min="0">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div style="text-align: start; margin: 6px 0;">メニュー詳細</div>
                                <div class="mb-3 mb-md-0">
                                    <input class="form-control" th:field="*{description}"
                                           type="text">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div style="text-align: start; margin: 6px 0;">在庫</div>
                                    <input class="form-control" th:field="*{stock}" type="number" min="0">
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align: start; margin: 6px 0;">原価</div>
                                    <input class="form-control" th:field="*{cost}" type="text">
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-block">登録</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>