<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
>
<th:block layout:fragment="content">
    <script>
        let currentMenu;

        function detail(pk) {
            currentMenu = pk;
            // AJAX를 사용하여 메뉴 상세 정보를 가져옴
            $.ajax({
                url: '/menuDetail?id=' + pk,
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    // 데이터가 성공적으로 로드되면 모달에 데이터를 설정
                    $('#modalTitle').text(data.menu.name);
                    $('#modalImage').attr('src', data.menu.image);
                    $('#modalPrice').text('가격 : ' + data.menu.price + ' 원');
                    $('#modalCategory').text('카테고리 : ' + data.category.name);
                    $('#modalStock').text(data.menu.stock > 0 ? '재고 : ' + data.menu.stock : '매진');
                    $('#modalDescription').text(data.menu.description);

                    // 모달을 표시
                    var myModal = new bootstrap.Modal(document.getElementById('menuModal'), {});
                    myModal.show();
                },
                error: function () {
                    alert('메뉴 정보를 불러오는데 실패했습니다.');
                }
            });
        }

        function update() {
            location.href = "/menuUpdate?id=" + currentMenu;
        }
    </script>
    <style>
        .menu-list-container {
            display: flex;
            flex-direction: column;
        }

        .menu-list-bar,
        .menu-item {
            display: flex;
            justify-content: space-between; /* 항목들 사이에 공간을 균등하게 배분 */
        }

        .menu-list-bar > div,
        .menu-item > div {
            flex: 1; /* 모든 자식 div가 동등한 공간을 차지하도록 함 */
            text-align: center; /* 텍스트를 중앙 정렬 */
            padding: 10px; /* 패딩으로 간격 추가 */
        }

        .menu-list-bar {
            margin-bottom: 20px; /* 제목과 항목들 사이의 간격 */
            font-weight: bold; /* 제목의 글자를 굵게 */
        }

        .menu-item {
            border-bottom: 1px solid #ccc; /* 항목들 사이의 구분선 */
        }
    </style>
    <div>
        <div>
            <select class="mt-3 ms-3" onchange="(location.href = this.value);" style="width: 180px;">
                <option value="/menuList">전체</option>
                <option th:each="category : ${categories}"
                        th:value="|/menuList?category=${category.id}|"
                        th:text="${category.name}"
                        th:selected="${#strings.equals(param.category, category.id)}">
                </option>

            </select>
        </div>

        <div class="mt-3 d-flex justify-content-around">
            <div th:each="menu : ${menus}" class="border text-center align-content-center"
                 th:id="${menu.id}" style="width: 180px; height: 240px;" th:onclick="|detail(${menu.id})|">
                <div class="user-select-none">
                    <img th:src="${menu.image}" style="width: 75px; height: 75px;">
                    <div class="user-select-none" th:text="${menu.name}"></div>
                    <div class="user-select-none" th:text="|${#numbers.formatInteger(menu.price,1,'COMMA')} 원|"></div>
                    <div th:each="category : ${categories}">
                        <div class="user-select-none" th:text="|カテゴリー : ${category.name}|"
                             th:if="${category.id == menu.category}"></div>
                    </div>
                    <div th:if="${menu.stock > 0}" class="user-select-none" th:text="|ストック : ${menu.stock}|"></div>
                    <div th:if="${menu.stock <= 0}" class="user-select-none" th:text="|在庫切れ|"></div>
                    <div th:each="sale : ${salesCount}" th:if="${sale.key.id == menu.id}">
                        <div th:if="${sale.key.id == menu.id}" class="user-select-none" th:text="|${salesDays}日間販売量 : ${sale.value}|"></div>
                        <div style="color: #ff363b" th:if="${menu.stock < sale.value * 0.5}" class="user-select-none" th:text="'在庫不足'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5 text-center">
            <button class="btn btn-primary" onclick="location.href='/menuCreate'">メニュー登録</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">メニュー詳細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" style="width: 100%; height: auto;">
                    <p id="modalPrice"></p>
                    <p id="modalCategory"></p>
                    <p id="modalStock"></p>
                    <p id="modalDescription"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="update()">修正</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>