<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <button class="btn btn-primary" type="button" onclick="location.href='/menuList'">1. Menu</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/categoryList'">2. Category</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/timeCardInput'">출퇴근 페이지로</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/insertStaff'">직원 등록 페이지로</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/staffList'">직원 리스트 페이지로</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/timeCardList'">출결 체크 페이지로</button>
    </div>
</th:block>

<!-- Bootstrap JS 추가 (필요한 경우) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
