<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/user_layout}">
>
<th:block layout:fragment="content">
    <div id="wrapper" class="align-content-center">
        <div class="outerDiv">
            <div class="text-center m-center">
                <div id="layoutAuthentication">
                    <div id="layoutAuthentication_content">
                        <main>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7">
                                        <div class="card shadow-lg border-0 rounded-lg mt-2">
                                            <div class="card-header"><h3 class="text-center font-weight-light my-4">
                                                会員登録</h3></div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row mb-3">
                                                        <div style="text-align: start; margin: 6px 0;">名前</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="inputFirstName"
                                                                       type="text" placeholder="名前を入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">メールアドレス</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="inputLastName"
                                                                       type="text" placeholder="メールアドレスを入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">パスワード</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="inputPassword"
                                                                       type="password" placeholder="パスワードは半角英数字・記号のみ８文字以上入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">パスワード確認</div>
                                                            <div class="mb-md-0">
                                                                <input class="form-control" id="inputPasswordConfirm"
                                                                       type="password" placeholder="確認のためパスワードをもう一回入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">携帯電話番号</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="phone"
                                                                       type="password" placeholder="メンバシップ用の携帯電話番号を入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">暗証番号</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="inputMSPassword"
                                                                       type="password" placeholder="メンバシップ用の暗証番号を数字4文字入力してください"/>
                                                            </div>
                                                        <div style="text-align: start; margin: 6px 0;">暗証番号確認</div>
                                                            <div class="mb-3 mb-md-0">
                                                                <input class="form-control" id="inputMSPasswordConfirm"
                                                                       type="password" placeholder="確認のため暗証番号をもう一回入力してください"/>
                                                            </div>
                                                    </div>
                                                    <div class="mt-4 mb-0">
                                                        <div class="d-grid"><a class="btn btn-primary btn-block"
                                                                               href="login.html">登録</a>
                                                        </div>
                                                    </div>
                                                    <input style="display: none">
                                                </form>
                                            </div>
                                            <div class="card-footer text-center py-2">
                                                <div class="text-primary pb-1">または</div>
                                                <a href="http://localhost:8080/oauth2/authorization/google?redirect_uri=http://localhost:8080/&mode=login"><img src="/img/web_light_rd_na@4x.png" style="width: 48px;height: 48px;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>